* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    min-height: 100vh;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 8%;
}

nav .logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid blue;
    object-fit: cover;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
